*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(29, 29, 29);
}

.notes{
    display: flex;
    gap: 2rem;
    padding: 3rem;
}

.note{
    color: wheat;
    max-width: 20rem;
    padding: 1rem;
    background-color: #333;
    border-radius: 0.7rem;
}