.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2{
    text-align: center;
    margin-bottom: 20px;
}


.registerBtn, .loginBtn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.registerBtn:hover, .loginBtn:hover{
    background-color: #0056b3;
}

.register-login{
    text-align: center;
    margin-top: 15px;
}



.register-login a{
    text-decoration: none;
    color: yellow;
}