@use './button.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body,
#root {
    width: 100%;
    background-color: #333;
    color: whitesmoke;
}

a{
    color: burlywood;
    text-decoration: none;
}