*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.notes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-block: 4rem;
    padding-inline:3rem;
}

.note{
    max-width: 20rem;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}